.coin-container .content {
    max-width: 740px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #26272b;
    box-shadow: 8px 0px 12px #686b72;
    border-radius: 8px;
}

.rank{
    margin: .5 0;
}
.rank-btn{
    border-radius: 1px solid #6900ff;
    box-shadow: 0px 0px 8px #6900ff;
    background-color: #ffd000;
    border-radius: 8px;
    padding: .2rem;
    color: #26272b
}
.info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.coin-heading{
    display: flex;
    margin: 20px 0;
    align-items: center;
}
.coin-heading p{
    padding: 0 3px;
}
.info .coin-price{
    display: flex;
    align-items: center;
    justify-content: center;
}
td, th{
    padding: 8px;
    text-align: center;
}

th{
    background-color: #ffd000;
}
.flex{
    max-width: 100%;
}
.stats {
    display: inline-block;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    width: 100%;
}
.stats .row{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    margin: .6rem 0;
    padding-bottom: .6rem;
}
.about h3{
    margin: 1rem 0;
}

@media screen and (max-width: 700px) {
    .coin-container .content{
        max-width: 100%;
        align-items: center;
        padding: .5rem;
        
    }
    .stats{
        grid-template-columns: 1fr;
    }
    td, th{
        padding: 2px;
    }
}